.fila-h1-principal {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  margin-top: 20px;
}

.fila-h1-error, .fila-h1-404 {
  font-family: 'AG Stencil';
}

.fila-h1-error {
  text-shadow: 0.5px 0.5px 1px gray;
  color: #336799;
  font-size: 150px;
}

.div-404 {
  margin-top: -30px;
}

.fila-h1-404 {
  text-shadow: 0.5px 0.5px 1px gray;
  color: #CA3338;
  font-size: 200px;
}
