
footer {
  background-color: #000000;
  min-height:315px;
  position: relative;
  bottom: -165px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #B8B8B8;
}

.footer-container { width: 25%; margin-top:20.5px; margin-left: 98px; margin-right: -55.5px;}
.col-country {
  margin-right: -45.5px;
}
.col-process {
  margin-right: -10px;
}

.heading { font-size:20px; font-weight:700; color:#B8B8B8; margin-bottom:10.5px;}
.footer-ul { list-style-type:none;  padding-left:10px; margin-left:2px;}
.footer-ul li { line-height:26px; font-size:14px;}
.footer-ul li a { color:#B8B8B8; transition: color 0.2s linear 0s, background 0.2s linear 0s; text-decoration:none; }
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#FFFFFF; text-decoration:none;}

.copyright-bar
{
    height: 62px;
    padding-top: 20px;
    background-color: #000000;
    position: relative;
    bottom: -165px;
}

.copyright-bar p
{
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pomegranate {
    color: #C0392B !important;
}

@media screen and (max-width: 1200px){

  .footer-container {  margin-top:18.5px; margin-left: 90px; }
  .col-country {
    margin-right: -54px;
  }
  .col-process {
    margin-right: -142px;
  }
}
@media screen and (max-width: 992px) {
  .col-language {
    margin-left: 18px;
  }
  .col-process {
    margin-right: -70px;
  }

}

@media screen and (max-width: 767px) {

     footer > .container {
       position: relative;
       left: -20px;
   }
  .col-language {
    padding-left: 129px;

  }
  .col-country {
    padding-left: 179px;

  }
  .col-process {
    padding-left: 58px;
    margin-right: -50px;
  }
  .col-help {
    padding-left: 113px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 619px) {

  .heading { font-size:24px; font-weight:700; color:#B8B8B8; margin-bottom:10.5px;}
  .footer-ul li { line-height:26px; font-size:18px;}

  .col-language {
   margin-left: 100px;
   margin-right: 100px;
  }
  .col-country {
    margin-left: 50px;
    margin-right: 100px;
  }
  .col-process {
    margin-left: 172px;
    margin-right: 50px;
    min-width: 200px;
  }
  .col-help {
    margin-left: 116px;
    min-width: 200px;
  }
}

@media screen and (max-width: 585px) {
  .copyright-bar
  {
      line-height: 30px;
      padding-bottom: 100px;
  }
  .small {
    font-size: 100%;
  }
}

@media screen and (max-width: 414px) {
  footer  .row {
    margin-left: 10px;
  }
  .heading { font-size:40px;}
  .footer-ul li { font-size: 24px }
  .col-language {
   margin-left: -7px;
   margin-right: 20px;
  }
  .col-country {
    margin-left: -56px;
    margin-right: 110px;

  }
  .col-process {
    margin-left:65px;
    margin-right: 10px;
  }
  .col-help {
    margin-left: 10px;
  }
  .footer-ul li { line-height:36px;}
}
